.wrapper{
    margin: 0 auto;
    width: 1250px;
}

/* 首頁樣式 */
body{
    background-color: #f3f5f7;
}

.header{
    height: 100px;
    background-color: #fff;
}

/* 頭部區域 */
.header .wrapper{
    padding: 29px;
    display: flex;
}

/* logo */
.logo a{
    display: block;  /* 將<a>轉區塊顯示方式 */
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

/* nav */
.nav{
    margin-left: 102px;
}

.nav ul{
    display: flex;
}

.nav li{
    margin-left: 24px;
}

.nav li a{
    display: block; /* 將<a>轉區塊顯示方式,可調改垂直位置 */
    padding: 6px 9px;
    line-height: 27px;
    font-size: 19px;
}

/* active,類選擇器 表示默認選中的a */
.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

/* search */
.search{
    display: flex;
    margin-left: 64px ;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none; /* 去掉表單控件焦點框 */
}

/* ::placeholder 選中placeholder屬性樣式*/
.search input::placeholder{
    font-size: 14px;
    color: #999;
}

/* 父級是flex佈局,子級變彈性盒子： 加寬高生效 */
.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.svg);
}

/* user */
.user{
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 4px;
}

.user img{
    margin-right: 7px;
}

.user span{
    font-size: 16px;
    color: #666;
}



/* banner區域  */
.banner{
    background-color: #0092cb;
    height: 420px;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background: url(../images/banner.png) no-repeat center center;
    background-size: contain;
}

/* 側導航 */
.banner .left{
    padding: 3px 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}

.banner .left a{
    line-height: 46px; 
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover{
    color: #00a4ff;
}

.banner .left .sign{
    float: right;
}

.banner .right{
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #00a4ff;
}

.banner .right dd span{
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a{
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
}

/* recommand */
.recommand{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 3px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}

.recommand ul{
    display: flex;
    flex: 1; /* 扣除<h3>精品推薦</h3>、<a>修改興趣</a>，剩餘父級尺寸給<ui> */
}

.recommand ul li a{
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommand ul li:last-child a{
    border-right: 0px;;
}

.recommand h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommand .modify{
    font-size: 16px;
    color: #00a4ff;
}

/* 推薦課程區域 */
.course{
    margin-top: 15px;
}

/* 課程標題-公共類 */
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3{
    font-size: 21px;
    font-weight: 400;
}

.hd .more{
    width: 80px;
    float: left;
    font-size: 14px;
    color: #999;
}

.hd .more span{
    float: right;
}

/* 課程內容-公共類 */
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li{
    margin-bottom: 14px;
    width: 235px;
    height: 271px;
    background-color: pink;
}

.bd li .pic{
    height: 156px;
}

.bd img{
    width: 100%;
    height: 100%;
}

.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4{
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
}

.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bd li .text p span{
    color: #fa6400;
}

.bd li .text p i{
    font-style: normal; /* 字不傾斜 */
}

/* 其他推薦 */
.hd ul{
    display: flex;
}

.hd li{
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active{
     color: #00a4ff;
}

.hd li a:hover{
    color: #00a4ff;
}

.bd{
    display: flex;
    justify-content: space-between ;
}

.bd .left{
    width: 235px;
}

.bd .right{
    width: 997px;
}

.bd .right .top{
    margin-bottom: 15px;
    height: 100px;
}

/* 機器學習 */
.learn{
    margin-top: 13px;
}

.bd .center ul{
    display: flex;
    justify-content: space-between;
    width: 1250px;
}

.bd .center li{
    width: 235px;
    height: 270px;
}

/* footer */
.footer{
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .left{
    width: 440px;
}

.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right{
    display: flex;
}

.footer .right dl{
    margin-left: 130px;
}

.footer .right dt{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a{
    font-size: 14px;
    color: #666;
}